.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.content {
  display: grid;
  justify-content: center;

  grid-template-rows: 2fr 1fr;
}

.avatar {
  align-self: center;
  justify-self: center;
}