@import "@/styles/colors";

.container {
  height: 40vh;
  min-width: 50vw;
  max-width: 70vw;

  @media (max-width: 768px) {
    height: 50vh;
    min-width: 60vw;
    max-width: 85vw;
  }

  @media (max-width: 480px) {
    height: 60vh;
    min-width: 90vw;
    max-width: 95vw;
  }
}

.cardContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 40vh;
  min-width: 50vw;
  max-width: 70vw;
  gap: 1rem;

  @media (max-width: 768px) {
    height: 50vh;
    min-width: 60vw;
    max-width: 85vw;
  }

  @media (max-width: 480px) {
    height: 60vh;
    min-width: 90vw;
    max-width: 95vw;
  }
}

