@import "@/styles/colors";

.cardContainer {
  display: flex;
  flex-direction: column;
  background-color: $-charcoal;
  color: $text-primary;
  border-radius: 12px;
  border: 1px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  width: 90%;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details {
  flex: 1;
  margin-right: 20px;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: start;
}

.informationList {
  list-style: none;
  padding: 0;
  font-size: 1rem;

  li {
    margin-bottom: 8px;
    display: flex;
    align-items: center;

    i {
      margin-right: 8px;
      font-size: 1.2rem;
    }
  }
}

.participants {
  margin-top: 15px;
  text-align: start;

  strong {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1rem;
  }

  .participantAvatars {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
}

.avatarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
