@import "@/styles/colors";
@import "@/styles/sizes";

.container {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 0;
  grid-template-columns: repeat(auto-fill, minmax(calc($--unit * 75), 1fr));
}

@media (max-width: $--responsive-tablet-breakpoint) {
  .container {
    grid-template-columns: 1fr;
  }
}

.sportButtonContainer {
  display: grid;
  margin: 1rem;
  gap: 1rem;
  grid-template-rows: auto;

  @media (min-width: $--responsive-tablet-breakpoint) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.button {
  display: grid;
  grid-template-areas:
    "icon details";
  grid-template-columns: 25% 75%;
  align-items: center;
  padding: 0.5rem;
  background-color: $button-background-primary;
  border: none;
  border-radius: 5px;
  color: $button-color-primary;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: left;

  &:hover {
    background-color: $-sand;
    color: $button-background-primary;
  }

  @media (min-width: $--responsive-tablet-breakpoint) {
    width: 45%;
  }
}

.sportIcon {
  grid-area: icon;
  justify-self: center;
}

.sportDetails {
  grid-area: details;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.sportDetails h2 {
  margin: 0;
}

.sportDetails p {
  margin: 0.5rem 0 0 0;
}


.name {
  margin: 0;
}

.description {
  margin: 0.5rem 0 0;
  font-size: 0.75rem;
}
