@import "@/styles/colors";

.matchItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between; // Distributes space between children
  gap: 10px;
  padding: 15px;
  background-color: $-charcoal;
  border-radius: 8px;
  border: 1px solid $-light-grey;
  width: 100%; // Default to full width
  height: 200px; // Make the items wider than they are tall

  @media (max-width: 768px) {
    width: 80%; // For mobile screens, match items will take up 80% of the viewport width
  }

  @media (min-width: 768px) {
    width: auto; // Allow the grid to control the width on larger screens
  }
}

.matchPlayerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.matchDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5% 0 5%;
  font-size: 1.2rem;
  font-weight: bold;
  color: $-sand;
  text-align: center;
}


.matchScores {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-grow: 1; // Makes sure the input area takes up available space

  input[type="number"] {
    width: 80px; // Consistent width
    padding: 10px; // Increased padding for a better feel
    border: 1px solid $-light-grey;
    border-radius: 4px;
    background-color: $application-background;
    color: $-sand;
    text-align: center;
    font-size: 1.2rem; // Increased font size for better readability
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Adds a subtle shadow to the input fields
  }
}

.matchWinner {
  font-size: 1rem;
  color: $-light-grey;
  font-style: italic;
  margin-top: 10px;
  text-align: center;

  span {
    font-weight: bold;
    color: $-sand;
  }
}
