/*
 * Base colours.
 */
 $-charcoal : #1b222c;
 $-black: #12151c;
 $-blood-red: #661b1c;
 $-dark-blood-red:#531516;
 $-light-grey: #ECECEC;
 $-sand: #FFF8EE;
 
 /*
   * Components Colours.
   */
 $application-background: $-black;
 $application-navigation-background: $-charcoal;