@import "@/styles/colors";

.application {
  display: grid;
  height: 100vh;
  margin: 0 !important;
  background-color: $application-background;

  @media (max-width: 768px) {
    grid-template-rows: auto 1fr; /* Same for smaller screens */
  }

  @media (min-width: 768px) {
    grid-template-rows: 10% 90%; /* Adjust header height on larger screens */
  }
}
