@import "@/styles/colors";

.application {
  display: grid;
  height: 100vh; /* Ensure the application takes full viewport height */
  margin: 0 !important;
  background-color: $application-background;

  @media (max-width: 768px) {
    grid-template-rows: auto 1fr; /* Same for smaller screens */
  }

  @media (min-width: 768px) {
    grid-template-rows: minmax(50px, auto) 1fr; /* Adjust header height on larger screens */
  }
}
